# Ignore Python bytecode files
*.pyc
*.pyo
*.pyd
__pycache__/

# Ignore virtual environment and config directories
venv/
.env/
*.env
pyvenv.cfg

# Ignore dataset and model files
datasets/
archive.zip
archive/
model.py

# Ignore IDE config files
.vscode/
.idea/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore logs and other temporary files
*.log
*.bak
*.swp
*.swo

# Ignore system files (Windows, MacOS, etc.)
.DS_Store
Thumbs.db
